/External/Design/~$Level.odt
/External/Design/~$GDD.odt
/PlayAwardSrc/PlayAwardSrc.userprefs
PlayAwardSrc/PlayAwardSrc-csharp.suo
PlayAwardSrc/PlayAwardSrc.v11.suo
PlayAwardSrc/UpgradeLog.XML
PlayAwardSrc/UpgradeLog.htm
PlayAwardSrc/_UpgradeReport_Files/UpgradeReport.css
PlayAwardSrc/_UpgradeReport_Files/UpgradeReport.xslt
PlayAwardSrc/_UpgradeReport_Files/UpgradeReport_Error.png
PlayAwardSrc/_UpgradeReport_Files/UpgradeReport_Information.png
PlayAwardSrc/_UpgradeReport_Files/UpgradeReport_Success.png
PlayAwardSrc/_UpgradeReport_Files/UpgradeReport_Warning.png
PlayAwardSrc/Assets/Standard Assets/UnityVS.meta
PlayAwardSrc/Assets/Standard Assets/UnityVS/Editor.meta
PlayAwardSrc/Assets/Standard Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
PlayAwardSrc/Assets/Standard Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
PlayAwardSrc/Assets/Standard Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
PlayAwardSrc/Assets/Standard Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
PlayAwardSrc/Assets/Standard Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll
PlayAwardSrc/Assets/Standard Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
PlayAwardSrc/UnityVS.PlayAwardSrc.sln.DotSettings
PlayAwardSrc/UnityVS.PlayAwardSrc.suo
PlayAwardSrc/Assets/UnityVS.meta
PlayAwardSrc/Assets/UnityVS/
